<div id="container" class="width">
{{> 03-templates/header}}


<section id="content" class=" col-mb-12 col-9 col-dt-9 col-ld-9">  
{{> 02-organisms/slider}}
</section>

<div class="aside-head col-mb-12 col-3 col-dt-3 col-ld-3 " >
{{> 03-templates/aside}}
</div>



<section style="clear:both">

{{> 03-templates/features}}
  
</section>


</div>


<footer>
{{> 03-templates/footer}}

</footer>