<div id="container" class="width">
{{> 03-templates/header}}


<section id="content" class=" col-mb-12 col-12 col-dt-9 col-ld-9">  
{{> 02-organisms/slider}}
</section>

<aside class=" col-mb-3 col-3 col-dt-3 col-ld-3">
{{> 03-templates/aside}}
</aside>

<div class="clearfix"></div>

<main>

<h2>Most popular products</h2>

{{< 03-templates/new-products}}
</main>


</div>