
<div class="aside-block  col-mb-12 col-12 col-dt-12 col-ld-12">


<div class="mob-menu" onclick="switchmenu()">

</div>

<div id="aside-lists" class="aside-lists">
<h3 class="aside-heading">Categorys</h3>

<ul class="aside-menu">  

                {{# menucategory}}

                {{> 01-molecules/asidelist}}

                   {{/menucategory}}

</ul>

</div>

</div>




