 
  <h4>Philips products</h4>
  <input name="droppy" type="checkbox" id="drop">
  <label for="droppy" class="fa fa-angle-double-down"></label>
            <ul class="color-bg blocklist">  

                

                        <li><a href="#">Archimedes' principle</a>

                        </li><li><a href="#">Coulomb's law</a></li>
                        <li><a href="#">Joule's laws</a></li>
                           <li><a href="#">Archimedes' principle</a>

                        </li><li><a href="#">Coulomb's law</a></li>
                        <li><a href="#">Joule's laws</a></li>
               
            

</ul>