<div class="logo-box {{ logoboxExtraStyle }}">

  <a href="{{ url }}" class="logo-link">
    <img src="../../images/philips_wordmark.svg" alt="Philips" />
  </a>
  <div>
    <span>{{ logobox-label }}</span>
  </div>
</div>